@{
    ViewData["Title"] = "Create a Category";
}

@model Category

<form asp-action="CreateCategory" asp-controller="Home" method="post">

    <div class="form-group">
        <label asp-for="Name"></label>&nbsp<span asp-validation-for="Name" class="error-message"></span>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group text-right">
        <button class="btn btn-primary">Add a Category</button>
    </div>
</form>


