@{
    ViewData["Title"] = "Read/Update/Delete a Product";
}


<div class="row">
    <div class="col-12 text-center">
        <h1>@ViewBag.Product.Name</h1>
    </div>
</div>


<div class="row">
    <div class="col-6">
        <h3>Categories:</h3>
    </div>
    <div class="col-6">
        <h3>Add Category:</h3>
    </div>
</div>

<div class="row">
    <div class="col-6">
        @foreach (var category in ViewBag.Product.Categories)
        {
            <p>- @category.Category.Name</p>
        }
    </div>
    <div class="col-6">
        <form asp-action="UpdateCategory" method="post" asp-route-productId=@ViewBag.Product.ProductId>
            <div class="form-group">
                <select name="Category" class="form-control">
                    @foreach (var category in ViewBag.Categories)
                    {
                            <option value=@category.CategoryId>@category.Name</option>
                    }
                </select>
                <input type="hidden" name="product" value=@ViewBag.Product.ProductId/>

            </div>
            <div class="form-group text-right">
                <button class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>

</div>
